body {
	margin: 0px;
	padding: 0px;
	color: #666;
	font-family: Helevetica,Arial,sans-serif;
	font-size: 13px;
	line-height:1.5em; 
    background-image: url(../images/body.jpg);
	background-repeat: repeat;
}

a, a:link, a:visited {
	color: #CC0000;
}

a:hover {
	color: #666666;
	text-decoration: none;
}

p { margin: 0px; padding: 0 0 10px 0; }
img { border: none; }

h1 { font-size: 40px; font-weight: bold; margin: 0 0 30px 0; padding: 5px 0; color: #000; }
h2 { font-size: 28px; font-weight: normal; line-height: 28px; margin: 0 0 30px 0; padding: 0; color: #c7a902; }
h3 { font-size: 21px; margin: 0 0 20px 0; padding: 0; padding: 0; color: #666666; }
h4 { font-size: 18px; margin: 0 0 20px 0; padding: 0; color: #ffa200; }
h5 { font-size: 16px; margin: 0 0 10px 0; padding: 0; color: #ffa200;}
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0; color: #ffa200;}

.name{ font-size: 18px; color: #f00;	font-family: Georgia, "Times New Roman", Times, serif;}
/* list */
.list {
	margin: 20px 0;
	padding: 0;
	list-style: none;
}

.list li {
	background: transparent url(../images/list.png) no-repeat scroll 0 0px;
	margin:0 0 20px;
	padding:0 0 0 25px;
	line-height: 1em;
}

.list li a {
	color: #666;
	text-decoration: none;
}

.list li a:hover {
	color: #000;
}
/* and of list */


#wrapper {
	width: 970px;
	padding: 0;
	margin: 0 auto;
	background: url(../images/wrapper.png) repeat-y;
}

/* logout/login */

#logout {
	width: 830px;
	height: 50px;
	margin: 0 10px 0 100px;
	padding: 20px 30px 0 0;
	background: url(../images/logout.png) top repeat-x;
}

#logout ul {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

#logout ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#logout ul li a {
	float: left;
	display: block;
	width: 112px;
	height: 48px;
	padding: 0;
	margin: 0 5px 0 0 ;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: #e4decd;	
	font-weight: bold;
	outline: none;
	border: none;
}

#logout ul li a:hover, #logout ul li .current {
	height: 38px;
	padding-top: 10px;
	color: #fff;
	background: url(../images/logout_hover.png) bottom no-repeat;
}

/* end of logout/login */


/* left-sidebar*/
#left-sidebar {
	float: left;
	width: 400px;
}

#right_column {
	float: right;
	width: 520px;
	margin-right: 10px;
}

#header_left {
	width: 360px;
	height: 276px;
	padding: 0 10px;
	margin-left: 20px;
	background: url(../images/header.png) left center no-repeat;
}

#header_left  #site_title {
	float: left;
	width: 310px;
	padding: 115px 0 0 60px;
}

#header_left  #site_title h1 {
	margin: 0;
	padding: 0;
}

#header_left  #site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 38px;
	color: #000;
	font-weight: normal;
	text-decoration: none;
}

#header_left  #site_title h1 strong {
	color: #f00;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#header_left  #site_title a span {
	display: block;
	font-size: 16px;
	color: #666;
	font-weight: bold;
	letter-spacing: 2px;
	margin-left: 5px;
	margin-top: 20px;
}

#sidebar {
	clear: both;
	float: left;
	width: 250px;
	margin-left: 130px;
}

/* end of left-sidebar */

#main {
	float: right;
	width: 490px;
	padding-top: 0px;
	margin-right: 30px; 
}

.post_section {
	clear: both;
	position: relative;
	padding: 0 60px 10px 0;
	margin: 30px 0;
	background: url(../images/post_bottom.png) bottom left no-repeat;
}

.post_section h2 {
	margin: 0;
	padding: 10px 0 10px 0;
	line-height: 30px;
}

.post_section p {
	text-align: justify;
	margin-bottom: 10px;
}

.post_section .comment {
	position: absolute;
	top: -5px;
	right: 0px;
	width: 70px;
	height: 42px;
	text-align: center;
	padding-top: 10px;
	font-size: 16px;
	font-weight: bold;
	background: url(../images/comment.png) no-repeat;
}

.post_section .comment a {
	color: #333;
	text-decoration: none;
}
.post_section .delete {
	inline:block;
	float: right;
}
.post_section .delete input {
	inline:block;
	clear: both;
	float: right;
	width: 20px;
	height: 20px;}
.post_section .delete a {
	inline:block;
	clear: both;
	float: right;
	width: 20px;
	height: 20px;
	margin-right: 9px}

/* footer */

#footer {
	clear: both;
	width: 860px;
	height: 50px;
	margin: 0 10px 0 100px;
	padding: 30px 0 0 0;
	text-align: center;
	color: #FFFFFF;
	background: url(../images/footer.png) top repeat-x;
}
/* footer wrapper */
/* button of filter */
.button_filter a {
	clear: both;
	display: block;
	width: 82px;
	height: 23px;
	padding: 3px 0 0 0;
	margin-top: 0px;
	background: url(../images/button.png) no-repeat;
	color: #000;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.button_filter{
	inline:block;
	float: right;
	margin-left: 3px;

}
.button_filter a:hover {
	color: #fff;
	background: url(../images/button_hover.png) no-repeat;
}
.filter{
	inline:block;
	margin-bottom: 15px;

}
.select{
	inline:block;
	float: left;
	width: 158px;
	height: 21px;
	padding: 0 24px 0 8px;
	color: #7B5427;
	font: 12px/21px arial,sans-serif;
	background-color: honeydew;

	overflow: hidden;
}
/* end of button of filter */
/* buttons NEXT and PREVIOUS */
.button_next a {
	clear: both;
	display: block;
	width: 82px;
	height: 23px;
	padding: 3px 0 0 0;
	margin-top: 0px;
	background: url(../images/button.png) no-repeat;
	color: #000;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.button_next{
	inline:block;
	float: right;
	margin-left: 3px;

}
.button_next a:hover {
	color: #fff;
	background: url(../images/button_hover.png) no-repeat;
}
.button_pre a {
	clear: both;
	display: block;
	width: 82px;
	height: 23px;
	padding: 3px 0 0 0;
	margin-top: 0px;
	background: url(../images/button.png) no-repeat;
	color: #000;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.button_pre{
	inline:block;
	float: left;
	margin-left: 3px;

}
.button_pre a:hover {
	color: #fff;
	background: url(../images/button_hover.png) no-repeat;
}
/* end buttons NEXT and PREVIOUS */
/* comments */
.comment_tab {
	padding: 10px 0;
	margin: 40px 0 40px 0;
	border-bottom: 1px dashed #666;
	font-size: 20px;
	font-weight: bold;
}
#comment_section {
	clear: both;
	margin-bottom: 60px;
	width: 460px;
}
.first_level {
	margin: 0; padding: 0;
}

.comments {
	list-style: none;
}
.comments li { margin-bottom: 10px; list-style:none; }
.comments li .commentbox { border: 1px solid #dddddd;  background: #f6f6f6; }
.comments li .comment_box { clear: both; width:100%; padding: 15px;  }
.comment_box .comment_text { margin: 0 0 0 0px; }

.comment_box .comment_text p { margin: 0; }
.comment_text .date { font-size: 14px;  font-weight: bold; color: #781919; margin-bottom: 10px;}
.comment_text .time { font-size: 12px; font-weight: normal; color: #333; padding-left: 10px; }
.comment_text .delete a {
	display: block;
	clear: both;
	float: right;
	width: 20px;
	height: 20px;}
.comment_text .delete img{
	width: 20px;
	height: 20px;
}
#comment_form {
	clear: both;
}

#comment_form h3 {
	font-size: 20px;
	border-bottom: 1px dotted #666;
	margin-bottom: 15px;
	padding-bottom: 10px;
}
#comment_form .form {
	padding: 20px;
	background-color: #eeeeee;
	border: 1px solid #dddddd;
}

#comment_form textarea {
	background:#FFFFFF none repeat fixed 0 0;
	border: 1px solid #CCC;
	display:block;
	font-size:1.1em;
	height:150px;
	margin-top:5px;
	padding:5px;
	width: 360px;
}

#comment_form .form_row {
	width: 100%;
	margin-bottom: 15px;
}
#comment_form .submit_btn {
	width: 150px;
	padding: 5px 10px;
	background: #EEEEEE;
	border: 1px solid #AAAAAA;
	color: #666666;
	float: right;
}
#author_form .submit_btn {
	width: 70px;
	padding: 0px 5px;
	margin-right: 25px;
	background: #EEEEEE;
	border: 1px solid #AAAAAA;
	color: #666666;
	float: right;
}
#comment_form input[type=button] {
	padding: 0 18px;
	height: 29px;
	font-size: 12px;
	font-weight: bold;
	color: #527881;
	text-shadow: 0 1px #e3f1f1;
	background: #cde5ef;
	border: 1px solid;
	border-color: #b4ccce #b3c0c8 #9eb9c2;
	border-radius: 16px;
	outline: 0;
@include box-sizing(content-box); // Firefox sets this to border-box by default
@include linear-gradient(top, #edf5f8, #cde5ef);
@include box-shadow(inset 0 1px white, 0 1px 2px rgba(black, .15));
}
/* end of comments */
/* Login*/
.login {
	position: relative;
	margin: 0 auto;
	padding: 20px 20px 20px;
	width: 310px;
	background: white;
	border-radius: 3px;
@include box-shadow(0 0 200 px rgba(white, .5), 0 1 px 2 px rgba(black, .3));
}
p { margin: 10px 0 0; }
p:first-child { margin-top: 0; }

input[type=text], input[type=password] { width: 278px; }
p.submit { text-align: center;
	margin-left: 80px;}
input {
	font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
	font-size: 14px;
}
input[type=text], input[type=password] {
	margin: 5px;
	padding: 0 10px;
	width: 250px;
	height: 34px;
	color: #404040;
	border: 1px solid;
	border-color: #c4c4c4 #d1d1d1 #d4d4d4;
	border-radius: 2px;
	outline: 5px solid #eff4f7;
@include box-shadow(inset 0 1 px 3 px rgba(black, .12));
}
input[type=submit] {
	padding: 0 18px;
	height: 29px;
	font-size: 12px;
	font-weight: bold;
	color: #527881;
	text-shadow: 0 1px #e3f1f1;
	background: #cde5ef;
	border: 1px solid;
	border-color: #b4ccce #b3c0c8 #9eb9c2;
	border-radius: 16px;
	outline: 0;
@include box-sizing(content-box); // Firefox sets this to border-box by default
@include linear-gradient(top, #edf5f8, #cde5ef);
@include box-shadow(inset 0 1px white, 0 1px 2px rgba(black, .15));
}
/* end of Login*/
/*author administration*/
#author_form {
	clear: both;
	padding: 20px;
	background-color: #eeeeee;
	border: 1px solid #dddddd;
}

#author_form .form_row {
	width: 100%;
	margin-bottom: 8px;
}

#author_form .button_author{
	inline:block;
	float: right;
	width: 52px;
	height: 23px;
	padding: 3px 0 0 0;
	margin-top: 9px;
	background: url(../images/button.png) no-repeat;
	color: #000;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	margin-right: 5px;
}
#author_form .button_author:hover {
	color: #fff;
	background: url(../images/button_hover.png) no-repeat;
}
/* end of author administration*/

/*tag dropdown*/
.multiselect,
.select-box {
	inline:block;
	float: left;
	margin-left: 3px;
	box-shadow: none;
	width: 100px;
	height: 50px;
}

.select-box select option {
	display: none;
}

.overSelect {
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.tag-list {
	z-index: 3;
	position: absolute;
	background-color: #fafafa;
	box-shadow: none;
	text-align: left;
	padding: 5px 10px;
	display: none;
	border: 1px #dadada solid;
}

#checkboxes label {
	font-size: 12px;
	display: block;
}
/*end tag dropdown*/

/*to top*/
#toTop {
	width:47px;
	height:47px;
	background:url(../images/back-top-btn.png) no-repeat;
	text-align:center;
	position:fixed;
	bottom:25px;
	right:20px;
	cursor:pointer;
	display:none;
	text-indent:-9999px;
	z-index:12;
}

@media (min-width: 768px) and (max-width: 979px) {
	.hidden-tablet {
		display: none !important;
	}
}
@media (max-width: 767px) {
	.hidden-phone {
		display: none !important;
	}
}
/*end of to top*/
.error{
	text-decoration:underline;
	color:red;
	font-family:"Arial Black";
	font-weight:bold;
}